body{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}
.section-top{
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
}
.button1{
    background-color: rgb(235, 11, 40);
    width: 100px;
    height: 26px;
    border-radius: 3px;
}
.button1 a{
    text-decoration: none;
    color: #000;
}
.button2{
    background-color: rgb(235, 11, 40);
    width: 170px;
    height: 26px;
    border-radius: 3px;
}
.button2 a{
    text-decoration: none;
    color: #000;
}
.button3{
    background-color: rgb(235, 11, 40);
    width: 170px;
    height: 26px;
    border-radius: 3px;
}
.button3 a{
    text-decoration: none;
    color: #000;
}

.par-area{
    width: 40%;
}
.person-2 img{
    width: 250px;
    height: 250px;
    width: 60;
}
pa-area2{
    display: flex;
}
.section-mid{
    display: flex;

}
.section-mid1{
    margin-left: 20px;
    margin-right: 20px;
    background-color:rgb(235, 225, 213) ;
}
.section-mid2{
    margin-left: 20px;
    margin-right: 20px;
    background-color:rgb(235, 225, 213) ;
}
.section-mid3{
    margin-left: 20px;
    margin-right: 20px;
    background-color:rgb(235, 225, 213) ;
}
.my-mission{
    text-align: center;
}
.section-mid1 img{
    width: 80px;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}
.section-mid1 h3{
    margin-left: 10px;
}
.section-mid2 h3{
    margin-left: 10px;
}
.section-mid3 h3{
    margin-left: 10px;
}
.section-mid1 p{
    margin-left: 10px;
    margin-bottom: 10px;
}
.section-mid2 p{
    margin-left: 10px;
    margin-bottom: 10px;
}
.section-mid3 p{
    margin-left: 10px;
    margin-bottom: 10px;
}
.section-mid2 img{
    width: 80px;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}
.section-mid3 img{
    width: 80px;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}

.section2-mid{
    display: flex;
    margin: 20px 20px 20px 20px;
}
.section2-mid1 img{
    width : 250px;
    height: 250px;
    margin-left: 20px;
    margin-right: 40px;
}
.section2-mid2{
    width: 60%;
}
.section-bottom{
    display: flex;
}
.section-bottom2 img{
    width: 250px;
    height: 250px;
    margin-right:100px ;
   
}
.section-bottom1{
    margin-right: 150px;
}

.footer{
    text-align: center;
    background-color:black;
    color: blanchedalmond;
}
.footer p{
    padding-bottom: 20px;
}
.footer h2{
    padding-top: 20px;
}
.year{
    color: chocolate;
}